@model DVD_MvcCodeFirst.Models.Professor

@{
    ViewBag.Title = "Detalhes do Professor";
}

<h2>Detalhes</h2>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwitterBlog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwitterBlog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admissao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDProfessor }) |
    @Html.ActionLink("Professores Cadastrados", "Index")
</p>

<fieldset>
    <legend>Alunos</legend>
    <ul class="list-group">
                @foreach (var aluno in Model.Alunos)
                {
                    <li class="list-group-item">@aluno.NomeAluno <span class="badge">@aluno.Inscricao</span> </li>
                }
    </ul>
</fieldset>

<fieldset>
    <legend>Tópicos</legend>
    <ul class="list-group">
        @foreach (var topico in Model.Topicos)
        {
            <li class="list-group-item">@topico.Descricao</li>
        }
    </ul>
</fieldset>