@model IEnumerable<DVD_MvcCodeFirst.Models.Aluno>

@{
    ViewBag.Title = "Listagem de Alunos";
}

<h2>Alunos Cadastrados</h2>

<p>
    @Html.ActionLink("Novo Aluno", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Professor.Nome)
          
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeAluno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aprovado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inscricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeAluno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aprovado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inscricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDAluno }) |
            @Html.ActionLink("Detalhar", "Details", new { id=item.IDAluno }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.IDAluno })
        </td>
    </tr>
}

</table>
